@model IEnumerable<FSPACERFINAL.Models.SpacerCard>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <table class="table table-list-search">
                @*<thead>
                    <tr>
                        <th>Entry</th>
                        <th>Entry</th>
                        <th>Entry</th>
                        <th>Entry</th>
                        <th>Entry</th>
                        <th>Entry</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sample</td>
                        <td>Filter</td>
                        <td>12-11-2011 11:11</td>
                        <td>OK</td>
                        <td>123</td>
                        <td>Do some other</td>
                    </tr>
                    <tr>
                        <td>Try</td>
                        <td>It</td>
                        <td>11-20-2013 08:56</td>
                        <td>It</td>
                        <td>Works</td>
                        <td>Do some FILTERME</td>
                    </tr>
                    <tr>
                        <td>§</td>
                        <td>$</td>
                        <td>%</td>
                        <td>&</td>
                        <td>/</td>
                        <td>!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">*@
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorizontalGearCaseDeviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorizontalCarrierDeviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bearing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HMDGear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorizontalSpacerLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VerticalGearCaseDeviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VerticalCarrierDeviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GearMount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VMDGear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VerticalSpacerLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Backlash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorizontalSetting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IntermediateSetting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OutputSetting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HelicalGearNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HelicalPinionNumber)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Drive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalGearCaseDeviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalCarrierDeviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bearing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HMDGear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalSpacerLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerticalGearCaseDeviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerticalCarrierDeviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GearMount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VMDGear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerticalSpacerLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Backlash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorizontalSetting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateSetting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutputSetting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HelicalGearNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HelicalPinionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drive.DriveNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operator.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
